

body {
    background-color: #2C292A;
    color: #D1B99B; /* Light Brown Text Color */
}
.footer {
    background-color: #3D3A3A; /* Dark Brown Footer Background */
    color: #D1B99B; /* Light Brown Footer Text Color */
}
.fab {
    color: #D1B99B; /* Light Brown Social Icons Color */
}
.featured {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.featured video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.featured-content {
    z-index: 1;
}
